*, html,body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

.content.all-movies{
    height: 150vh;
}

nav{
    position: fixed;
    z-index: 5;
}

.fContainer{
    display: flex;
    width: 100%;
    height: 16vh;
    background-color: lightslategray;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 80px;
    background-color: #222;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}


.brand>a{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
    text-decoration: none;
    
}

.firstname{
    color: darkviolet;
    font-weight: 700;
    
}

.lastname{
    color: aliceblue;
    font-weight: 100;
    padding-left: 4px;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
}

.navigation>li{
    list-style-type: none;
    padding: 15px;
    text-transform: capitalize;
}

.navigation>li>a:hover{
    color: darkviolet;
    transition: all .3s ease-in-out;
}

.navigation>li>a{
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.content{
    background-color: lightslategrey;
    height: 100vh;
}

.text-now-playing{
    /* background-color: lightslategray; */
    text-transform: capitalize;
    padding: 5px;
}

.text-now-playing>h1{
    color: aliceblue;
    margin-left: 5px;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.7);
}

.wrapper-slider{
    display: flex;
    padding: 20px;
    /* background-color: lightslategray; */
}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin:0;
  
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: auto;
}

.slides::-webkit-scrollbar { width: 3px; height: 3px; }
.slides::-webkit-scrollbar-thumb { background: darkviolet; border-radius: 5px; }
.slides::-webkit-scrollbar-track { background: transparent; }

.box-poster{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.poster:hover{
    transform: scale(1.01);
    transition-duration: .5s;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);
}

.poster{
    border-radius: 5px;
    width: 150px;
    height: 250px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.7);
}

.judul-poster{
    width: 180px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5)
}

.text-genre{
    width: 180px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: aliceblue;
    text-transform: capitalize;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5)
}

.box-tombol{
    margin-top: 5px;
}

.tombol-trailer{
    padding: 5px;
    background-color: rgb(63, 187, 5);
    border-radius: 8px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.tombol-trailer:hover{
    background-color: rgb(46, 146, 0);
    transition: all .3s ease-in-out;
    transform: scale(0.96);
    
}

.tombol-trailer>a:hover{
    color: black;
    transition: all .3s ease-in-out;
}

.tombol-trailer>a{
    font-size: 13px;
    color: aliceblue;
    font-weight: lighter;
    text-transform: capitalize;
    text-decoration: none;

}

.tombol-buyticket{
    margin-top: 3px;
    padding: 5px;
    background-color: darkmagenta;
    border-radius: 8px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.tombol-buyticket:hover{
    background-color: rgb(87, 0, 87);
    transition: all .3s ease-in-out;
    transform: scale(0.96);
}

.tombol-buyticket>a:hover{
    color: yellow;
    transition: all .3s ease-in-out;
    
}

.tombol-buyticket>a{
    font-size: 13px;
    color: aliceblue;
    font-weight: lighter;
    text-transform: capitalize;
    text-decoration: none;
}


.facebook {
    background: -webkit-gradient(linear, left top, left bottom, from(#002ba1), to(#0086d3));
    -webkit-text-fill-color: transparent;
    display: initial;
}

.instagram {
    background: -webkit-gradient(linear, left top, left bottom, from(#6100bb), to(#ff7b3e));
    -webkit-text-fill-color: transparent;
    display: initial;
}

.twitter {
    background: -webkit-gradient(linear, left top, left bottom, from(#0077ff), to(#a1dbfd));
    -webkit-text-fill-color: transparent;
    display: initial;
}


.footer{
    width: 100%;
    height: 250px;
    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer .footerisi{
    color: aliceblue;
    padding: 70px;
}

.footer .footerisi-kedua{
    color: aliceblue;
    padding: 70px;
    width: 350px;
    height: 70px;
}

.footer .footerisi .sosmed{
    display: flex;
    flex-direction: row;
}

.sosmed{
    align-items: center;
    margin-bottom: 4px;
}

.sosmed>img{
    width: 30px;
    height: 30px;
}

.sosmed>p{
    margin-left: 7px;
}


.copyright{
    background-color: #222;
    align-items: center;
    padding: 2px;
    margin-bottom: 0;
}

.copyright>p{
    text-align: center;
    font-size: 12px;
    color: aliceblue;
    text-transform: capitalize;
}

.copyright>p>a{
    color: aliceblue;
    font-weight: lighter;
    text-transform: capitalize;
    text-decoration: none;
}

.copyright>p>a:hover{
    color: darkviolet;
    transition: all .3s ease-in-out;

}

::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);      */
    background: whitesmoke   
}
 
::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 5px;
}


.allposter{
    border: 50px solid black;
}



